body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(228, 233, 238, 1);
    min-height: 100vh;
    overflow-y: auto;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    width: 600px;
    max-width: 100%;
    margin: 20px auto;
    border-radius: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* Assure une couleur de texte bien visible */
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555; /* Légèrement plus clair pour le texte */
}

.name-container {
    display: flex;
    gap: 20px; /* Réduction de l'espace entre les champs */
    flex-wrap: wrap;
}

.birthdate-container {
    display: flex;
    gap: 10px;
}

.birthdate-container select {
    flex: 1;
}

.account-container{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.address-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Ajout de styles pour les champs de formulaire */
input[type="text"], input[type="email"], input[type="password"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 100%; /* Prend toute la largeur disponible */
    box-sizing: border-box; /* S'assure que le padding ne dépasse pas la largeur */
    margin-bottom: 15px; /* Ajout d'un espacement sous chaque champ */
    height:50px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus {
    border-color: #7193BE;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #7193BE;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Ajout d'une transition pour le bouton */
}

button:hover {
    background-color: #0c4fa6;
}

button:active {
    background-color: #000000; /* Changement de couleur quand le bouton est cliqué */
}
